#--------------------------#
# Global Files Types       #
#--------------------------#
.modgit/
.svn*
*.bkp
*.old
js_bkp/
js.old/
sitemap.xml
*.log
*.sql
*.tar.*
*.gz
*.rar
*.zip
*.bz2
*.bz
*.tgz
*.gzip
*.tb2
*.tbz2
*.pdf
*.log
*.swm
*.swn
*.swp
*.swo
.DS_STORE

#--------------------------#
# IDE Project Files/Folder #
#--------------------------#
/nbproject/private/
.settings
.buildpath
.idea

#--------------------------#
# NGinx Specific Ignores   #
#--------------------------#
50x.html
404.html


#--------------------------#
# Magento Specific Ignores #
#--------------------------#
app/etc/local.xml
/downloader/.cache/
/downloader/cache.cfg
/downloader/connect.cfg
/var/cache/
/var/session/
/var/log/
/var/report/
/var/locks/
/var/tmp/
/var/package/
/var/ait_*/
/var/export/
/media/
.magentointel-cache/

